.product_detail
{
    max-width: 90%; /* Maximal bredd */
    width: auto; /* Automatisk bredd baserad på innehåll */
    height: auto; /* Höjd baserad på innehåll */
    position: fixed;
    top: 100px;
    left: 170px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
    padding: 20px 30px;
    z-index: 1000;
}
li {
    list-style-type: none !important;
}

.product_detail .close_btn
{
    float: right;
    border: none;
    outline: none;
    background: none;
    color: #cd1e76;
    font-size: 22px;
    cursor: pointer;
}
.product_detail .container
{
    width: 100%;
    display: flex;
}
.product_detail .container .img_box
{
    padding: 20px 20px;
    background: #f6f6f6;
    border-radius: 10px;
}
.product_detail .container .img_box img
{
    width: 270px;
    height: 270px;
}
.product_detail .container .info
{
    margin-top: 30px;
    margin-left: 40px;
}
.product_detail .container .info h4
{
    color: #8a8a8a;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.product_detail .container .info h2
{
    margin-top: 30px;
    color: #232323;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}
.product_detail .container .info p
{
    margin-top: 10px;
    color: #8a8a8a;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
}
.product_detail .container .info h3
{
    margin-top: 10px;
    font-size: 34px;
    color: #cd1e76;
}
.product_detail .container .info button
{
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background: none;
    background: #cd1e76;
    color: #fff;
    font-size: 14;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 768px) {
    .product_detail {
        max-width: 95%; /* Öka bredden på mindre skärmar */
        padding: 10px; /* Minska padding på mindre skärmar */
        top: 10px; /* Mindre vertikal marginal */
        left: 2.5%; /* Mindre marginal från vänster */
        transform: translateX(0); /* Ingen horisontell centrering krävs */
    }

    .product_detail .container .img_box img {
        width: 100%; /* Anpassa bildbredden */
        height: auto; /* Bibehåll bildens proportioner */
    }

    .product_detail .container {
        flex-direction: column; /* Stapla innehåll vertikalt */
    }

    .product_detail .container .info {
        margin-top: 20px;
        margin-left: 0;
    }
    .product_detail .container .img_box img {
        max-width: 100%; /* Maximal bredd */
        height: auto; /* Bibehåll proportionerna */
    }
    
    /* Anpassa andra stilar efter behov */
}
