.slider {
    position: relative;
    width: 90%;
    height: 500px; /* Höjd för slidern */
    margin: 0 auto; /* Centrerar slidern */
    overflow: hidden; /* Döljer icke-aktiva slides */
    align-items: center; /* Centrerar innehåll vertikalt */
    justify-content: center; /* Centrerar innehåll horisontellt */
    transition: opacity 1s ease; /* Animering för att visa/ta bort slides */
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 48px; /* Storlek på pilen */
    z-index: 10;
    color: black; /* Färg på pilen */
    transform: translateY(-50%) scaleY(1.5);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%; /* Gör bakgrunden helt rund */
    padding: 15px; /* Lägger till utrymme runt ikonen */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.0); /* Valfrivis skugga för bättre djup */
    
    /* Centrera innehållet (pilen) inuti elementet */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Lägg till bredd och höjd för att kontrollera storleken på den runda bakgrunden */
    width: 80px;
    height: 80px;
}



.left-arrow {
    left: 10px;
    color: violet;
}

.right-arrow {
    right: 10px;
    color: violet;
}

.slide {
    width: 100%; /* Varje slide fyller hela bredden */
    height: 500px; /* Höjd för varje slide */
    position: absolute; /* Positioneras ovanpå varandra */
    opacity: 0; /* Döljer alla slides som standard */
    transition: opacity 1s ease; /* Animering för att visa/ta bort slides */
    background-color: #c6ffe1;
    overflow: visible;
    
}

.slide.active {
    opacity: 1; /* Visar den aktiva sliden */
}

.image {
    width: 750px; /* Bildens bredd anpassas till föräldraelementets bredd */
    height: 480px; /* Höjden justeras automatiskt för att behålla bildens aspektförhållande */
    object-fit: cover; /* Ser till att hela bilden syns utan att tappa proportioner */
    display: block;
    margin: auto; /* Centrerar bilderna horisontellt */
    position: absolute;
    top: 50%; /* Flytta ner bilden till mitten av föräldern */
    left: 70%; /* Flytta bilden till mitten på sidan  */
    transform: translate(-50%, -50%); /* Centrerar både vertikalt och horisontellt */
    border-top-left-radius: 350px;
    border-bottom-left-radius: 350px;
    margin-top: -9px;
}
.slide-text {
    position: absolute;
    top: 85%; /* Centrera vertikalt i förhållande till höjden */
    left: 20%; /* Centrera horisontellt i förhållande till bredden */
    transform: translate(-50%, -50%); /* Justerar exakt centrumpositionen */
    color: white; /* Eller vilken färg du föredrar */
    background-color: rgba(0, 0, 0, 0.5); /* Halvgenomskinlig svart bakgrund */
    padding: 10px;
    cursor: pointer; /* Visar en pekare för att indikera klickbarhet */
    border-radius: 5px; /* Ger rundade hörn om så önskas */
    text-align: center; /* Centrerar texten inom elementet */
    /* Lägg till ytterligare styling efter behov */
    z-index: 11;
    font-weight: 600;
}
.slide-text:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Ljus bakgrund när musen är över */
    color: blue; /* Ändra textfärg */
}
.product-info-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%; /* Tar upp halva bredden */
    height: 100%; /* Full höjd */
    padding: 20px; /* Lite utrymme inuti */
    display: flex; /* Använder flex för att centrera innehållet */
    align-items: center; /* Centrerar vertikalt */
    justify-content: center; /* Centrerar horisontellt */
    text-align: left; /* Texten börjar från vänster */
    background-color: rgba(0, 0, 0, 0); /* Om du vill ha en bakgrund */
    color: #161616; /* Textfärg */
    z-index: 5; /* Se till att den inte täcks av andra element */
    display: flex;
    flex-direction: column; /* Staplar barn vertikalt */
    align-items: center; /* Centrerar barn horisontellt */
    justify-content: flex-start; /* Börjar från toppen */
    text-align: center; /* Centrerar texten */
    font-weight: 600;
}

.product-info-text h1 {
    margin-top: 50px; /* Justera som behövs, ger utrymme från toppen */
    /* Lägg till ytterligare styling för h3 här om nödvändigt */
    font-weight: 600;
}

.product-info-text p {
    /* Lägg till styling för p här om nödvändigt, exempelvis: */
    margin-top: 40px; /* Ger utrymme mellan h3 och p */
    overflow: auto;
    max-width: 60%;
}



