    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 100%;
    }
    
    .slider {
        position: relative;
        width: 90vw; /* Responsiv bredd */
        height: 50vh; /* Responsiv höjd */
        margin: 0 auto;
        overflow: hidden;
        border: 2px solid #000000; /* Ram runt slidern */
    }
    
    .left-arrow, .right-arrow {
        position: absolute;
        top: 50%;
        cursor: pointer;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        padding: 15px; /* Fast storlek */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
        font-size: 24px; /* Fast storlek */
    }
    
    .left-arrow {
        left: 10px;
    }
    
    .right-arrow {
        right: 10px;
    }
    
    .slide {
        position: absolute;
        width: 100%; /* Fyller hela bredden av slidern */
        height: 100%; /* Fyller hela höjden av slidern */
        opacity: 0;
        transition: opacity 1s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c6ffe1;
    }
    
    .slide.active {
        opacity: 1;
    }
    
    .image {
        width: calc(90% - 20%);  /* Responsiv bredd */
        height: 100%; /* Behåller aspektförhållande */
        object-fit: cover;
         /* Rundade hörn på bilden */
        border-top-left-radius: 350px;
        border-bottom-left-radius: 350px;
        margin-left: 30%; /* Lägger till 30% padding på vänster sida */
        margin-right: 0%; 
    }
    
    .slide-text {
        z-index: 1001;
        position: absolute;
        bottom: 20px; 
        left: 5%; 
        width: 30%; 
        padding: 20px 20px; 
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        text-align: left; 
        font-size: 2vw; 
        cursor: pointer;
    }
    
    
    .product-info-text {
        position: absolute;
        top: 20px; /* 20px från botten */
        left: 5%; /* Flyttar texten till vänsterkanten */
        width: 30%; /* Texten fyller 30% av föräldraelementets bredd */
        padding: 20px 5px 20px 5px; /* 20px padding från toppen och botten, 5px från vänster och höger */
        color: #161616;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 5px;
        text-align: center; /* Texten justeras till vänster */
        font-size: 1.5vw; /* Responsiv fontstorlek */

    }
    
    
    /* Media queries för mindre skärmar */
    @media screen and (max-width: 900px) {
        .slider {
            height: 40vh;
        }
    
        .image {
            max-width: 90%;
        }
    
        .slide-text, .product-info-text {
            font-size: 2vw;
        }
    }
    
    @media screen and (max-width: 580px) {
        .slider {
            height: 30vh;
        }
    
        .image {
            max-width: 100%;
        }
    
        .slide-text, .product-info-text {
            font-size: 2vw;
        }
    }
    