.parent-Top-Banner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1-Bakgrund { grid-area: 1 / 1 / 7 / 13;
    width: 90%;
    height: 35vh;
    background: url("http://localhost:3000/image/slide-1.webp") no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5vw;
    margin-left: auto; /* Lägger till för att centrera horisontellt */
    margin-right: auto;
    border: 2px solid #000000;
    margin-top: 20px; /* Lägger till utrymme på toppen */
    }
    .div2-Contant { grid-area: 2 / 2 / 6 / 6; 
        width: 100%;
        position: relative;
        padding: 30px;
        left: -13px;
    } 

.h3-Top-Banner
{
    text-transform: capitalize;
    color: #cd1e76;
    font-size: 2em; 
}
.h2-Top-Banner
{
    text-transform: uppercase;
    color: #232323;
    font-size: 2em;
}
.p-Top-Banner
{
    color: #380303;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1em; 
}
.link-Top-Banner
{
    padding: 1em 2em; /* Använd em eller rem för responsiva storlekar */
    font-size: 1em;
    background: #fed700;
    color: #232323;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}
.link-top-banner:hover
{
    color: #fed700;
    background: #cd1e76;
}

