.trending
{
    
    width: 100%;
    border: 1px solid #000000;
}
.trending .container
{
    max-width: 100%;
    display: flex;
}
.trending .container .left_box
{
    padding: 10px 20px;
    width: 100%;
}
.trending .container .left_box .header
{
    display: flex;
    max-width: 75%;
    padding: 10px 10px;
    background: #989898;
    justify-content: space-between;
    margin-left: auto; /* Centrerar elementet horisontellt genom att sätta vänstermarginal till auto */
    margin-right: auto;
}
.trending .container .left_box .header .heading h2
{
    text-transform: uppercase;
    font-size: 16px;
    color: #232323;
    margin-top: 5px;
    cursor: pointer;
}
.trending .container .left_box .header .heading h2:hover
{
    color: #cd1e76;
}
.trending .container .left_box .header .cate
{
    display: flex;
    margin-top: 5px;
}
.trending .container .left_box .header .cate h3
{
    text-transform: capitalize;
    margin-right: 10px;
    color: #232323;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}
.trending .container .left_box .header .cate h3:hover
{
    color: #cd1e76;
}
.trending .container .left_box .header .products
{
    max-width: 100%;
}
.trending .container .left_box .products .container
{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto; 
}
.trending .container .left_box .products .container .box
{
    width: 195px;
    height: 295px;
    /* padding: 10px 10px; */
    border: 4px solid #f6f7f8;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
    border-radius: 5px;
}
.trending .container .left_box .products .container .box .img_box
{
    display: flex;
}
.trending .container .left_box .products .container .box .img_box img
{
    width: 190px;
    height: 190px;
    object-fit: cover;
}
.trending .container .left_box .products .container .box .img_box .icon
{
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 10px;
    transition: 0.5s;
}
.trending .container .left_box .products .container .box:hover  .img_box .icon
{
    margin-left: -32%;
}
.trending .container .left_box .products .container .box .img_box .icon .icon_box
{
    padding: 10px 10px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    background: #fff;
    color: #cd1e76;
    transition: 0.5s;
    cursor: pointer;
}
.trending .container .left_box .products .container .box .img_box .icon .icon_box:hover
{
    color: #fff;
    background: #cd1e76;
}
.trending .container .left_box .products .container .box .info 
{
    padding: 10px 10px;
    margin-left: 10px;
}
.trending .container .left_box .products .container .box .info h3
{
    text-transform: uppercase;
    font-size: 14px;
    color: #232323;
    font-size: 300;
    letter-spacing: 1px;
}
.trending .container .left_box .products .container .box .info p
{
    color: #cd1e76;
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}
.trending .container .left_box .products .container .box .info .btn
{
    margin-top: 10px;
    align-items: center;
    padding: 10px 20px;
    margin-left: 20px;
    border: none;
    outline: none;
    background: #fed700;
    color: #232323;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.trending .container .left_box .products .container .box .info .btn:hover
{
    background: #cd1e76;
    color: #f6f7f8;
}
.trending .container .right_box
{
    padding: 10px 20px;
    width: 24%;
    display: flex;
    flex-direction: column;
}
.trending .container .right_box .right_container
{
    max-width: 100%;
}
.trending .container .right_box .right_container .testimonial
{
    width: 100%;
    border: 4px solid #f6f7f8;
}
.trending .container .right_box .right_container .testimonial .head
{
    padding: 10px 10px;
    width: 100%;
    background: #f6f7f8;
}
.trending .container .right_box .right_container .testimonial .head h3
{
    text-align: center;
    color: #232323;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1px;
}
.trending .container .right_box .right_container .testimonial .detail
{
    padding: 10px 20px;
}
.trending .container .right_box .right_container .testimonial .detail .img_box img 
  {
    display: block; /* Gör så att bilden behandlas som ett blockelement */
    margin-top: 40px; 
    margin-left: auto; /* Centrerar bilden horisontellt */
    margin-right: auto; /* Centrerar bilden horisontellt */
  }
  
.trending .container .right_box .right_container .testimonial .detail .info
{
    margin-top: 10px;
}
.trending .container .right_box .right_container .testimonial .detail .info h3
{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #232323;
}
.trending .container .right_box .right_container .testimonial .detail .info h4
{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: #cd1e76;
    font-weight: 300;
    text-transform: uppercase;
}
.trending .container .right_box .right_container .testimonial .detail .info p
{
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    color: #232323;
    font-size: 14px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .trending .container .left_box {
        width: 100%; /* Justera bredden för mindre skärmar */
        padding: 2% 3%;
    }

    .trending .container .left_box .header {
        max-width: 100%; /* Redan procentuellt */
        padding: 2% 3%; /* Exempel på procentuell padding */
      }
      
      .trending .container .left_box .products .container .box {
        width: 48%; /* Till exempel för två kolumner, inklusive någon marginal */
        margin: 1%; /* Procentuell marginal */
      }
      .trending .container .left_box .header .heading h2 {
        font-size: 0.7em; /* Anpassningsbar storlek */
      }
      .trending .container .left_box .header .cate h3 {
        font-size: 0.7em; /* Anpassningsbar storlek */
      }
      
      

    .trending .container .right_box {
        width: 100%; /* Justera bredden för mindre skärmar */
    }

    .trending .container {
        display: flex;
        flex-wrap: wrap;
        /* ... övriga stilar ... */
    }
    .trending .container .left_box .products .container .box {
        width: 250px; /* Justera bredden för mindre skärmar */
        margin-left: 1%; /* Justera marginalerna */
        margin-right: 1%;
        /* ... övriga stilar ... */
    }
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 10px;
    }
    
    .trending .container .left_box .products .container .box .img_box .icon {
        /* Justera stilarna för mindre skärmar */
        margin-left: 0; /* Exempel */
        flex-direction: column;
        /* Andra nödvändiga justeringar */
    }
    .trending .container .left_box .products .container .box:hover .img_box .icon {
        margin-left: 0; /* Inaktivera hover-effekten som flyttar ikonen */
    }

    .trending .container .left_box .products .container .box .img_box .icon {
        display: flex;
        flex-direction: column;
        margin-left: 0; /* Säkerställ att ikonen alltid är synlig */
        margin-top: 10px;
        /* Andra nödvändiga justeringar */
    }
}

