.parent-footer {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.parent-footer
{
    margin-left: 10px;
}
.parent-footer .detail-footer h3
{
    text-transform: uppercase;
    font-size: 100%px;
    color: #cd1e76;
    font-weight: 600;
}
.parent-footer .detail-footer p
{
    font-size: 100%px;
    color: #232323;
}
.div1-footer { grid-area: 1 / 1 / 2 / 4; 
    padding: 0 10%;
    display: flex;
    flex-direction: row; 
 }
.div2-footer { grid-area: 2 / 1 / 3 / 4; 
    padding: 0 10%;
    display: flex;
    flex-direction: row; 
}
.div3-footer { grid-area: 3 / 1 / 4 / 4; 
    padding: 0 10%; 
    display: flex;
    flex-direction: row; 
}
.div4-footer { grid-area: 4 / 1 / 5 / 4; 
    padding: 0 10%; 
    display: flex;
    flex-direction: row; }
.div5-footer {
    grid-area: 4 / 4 / 6 / 6;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    gap: 1%;
}   
.div5-footer ul,.div6-footer ul, .div7-footer ul {
    list-style: none; /* Tar bort listmarkörer */
    padding: 0; /* Tar bort standardpadding */
    margin: 0; /* Tar bort standardmarginal */
    width: 100%; /* Sätter bredden på listan */
    text-align: center; /* Centrerar texten inom listan */
}

.div6-footer { grid-area: 4 / 6 / 6 / 8;   
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    gap: 1%;
 }
.div7-footer { grid-area: 4 / 8 / 6 / 10; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    gap: 1%;
}
.div5-footer ul,.div6-footer ul, .div7-footer ul {
    list-style: none; /* Tar bort listmarkörer */
    padding: 0; /* Tar bort standardpadding */
    margin: 0; /* Tar bort standardmarginal */
    width: 100%; /* Sätter bredden på listan */
    text-align: center; /* Centrerar texten inom listan */
}
.div8-footer { grid-area: 1 / 4 / 3 / 10; }
.div9-footer { grid-area: 3 / 4 / 4 / 10; }
.div10-footer { grid-area: 5 / 1 / 6 / 4; }

.box-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon_box {
    /* Lägg till stilar för ikonernas behållare här */
}

.detail {
    /* Lägg till stilar för detaljtexten här */
}

