.parent-Header  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px; 

    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1100;
    background-color: #fff;
    border: 1px solid #000000;
    justify-content: center; 
    align-items: center; 
    }
    .gorila-Header{
        height: auto;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row;
    }
    
     .div1-Header { grid-area: 1 / 1 / 2 / 5; 
       display: flex;
       flex-direction: row;
       padding-left: 4%;}
     .div2-Header { grid-area: 2 / 1 / 3 / 2; }
     .div3-Header { grid-area: 2 / 2 / 4 / 4;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%; }
     .div4-Header { grid-area: 2 / 4 / 3 / 5; 
        display: flex;
        align-items: center; 
        justify-content: center;}
        .div4-Header > * {
            margin-right: 5px;
        }
        .div4-Header .icon {
            font-size: 15px;
            height: 13px;
        }
     .div5-Header { grid-area: 3 / 1 / 4 / 2; }
     .div6-Header { grid-area: 3 / 4 / 4 / 5; 
        display: flex;
        align-items: center; 
        justify-content: center;}
        .div6-Header > * {
            margin-right: 5px;
        }
        .div6-Header .icon {
            font-size: 15px;
            height: 17px;
        }
        .div6-Header p {
            font-size: 70%; /* Ställer in textstorleken till 120% av föräldraelementets fontstorlek */
        }
     .div7-Header { grid-area: 4 / 1 / 5 / 3; }
     .div8-Header { grid-area: 4 / 3 / 5 / 5; 
        display: flex;
        justify-content: flex-end;
        align-items: center; 
        padding-right: 4%;}


@media (max-width: 768px) {
    .header .mid_header .user{
        margin-right: 10px;
    }
    .header .last_header .user_profile {
        margin-right: 10px;
    }
    .header .last_header .user_profile .info p {
        display: none; /* Gömmer paragraferna i user_profile på mindre skärmar */
    }
    .header .last_header .user_profile .info h2 {
        margin-top: 5px;
    }
    .header .last_header .user_profile .icon {
    font-size: 15px;
    }

    /* Lägg till ytterligare stiländringar för mindre skärmar här om nödvändigt */
}
