*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.AllHeader{
    position: fixed; /* Fixerar headern på skärmen */
    top: 0; /* Placerar headern högst upp på sidan */
    left: 0; /* Linjerar headern längst till vänster på sidan */
    width: 100%; /* Bredd sätts till 100% av skärmbredden */
    z-index: 1000; /* Ser till att headern ligger över andra element */
    background-color: #fff; /* Ger en bakgrundsfärg så den inte är genomskinlig */
    /* Lägg till ytterligare stilar för headern här om det behövs */
}
.header
{
    width: 100%;
}
.header .top_header
{
    max-width: 100%;
    display: flex;
    padding: 10px 10xp;
    background: #f6f7f9;
}
.header .top_header .icon
{
    margin-left: 20px;
    color: #ababab;
    font-size: 19px;
}
.header .top_header .info p
{
    margin-left: 10px;
    color: #8a8a8a;
}
.header .mid_header
{
    display: flex;
    padding: 20px 40px;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}



.header .mid_header .user 
{
    display: flex;
    margin-right: 30px;
}
.header .mid_header .user .icon
{
    margin-right: 10px;
}
.header .mid_header .user .btn button
{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    cursor: pointer;
}
.header .last_header
{
    display: flex;
    justify-content: center;
    width: 100%;
    background: #c6ffe1;
    justify-content: space-between;
    height: 30px;
}
.header .last_header .user_profile
{
    display: flex;
    margin-bottom: 10px;
    margin-right: 45px;
}
.header .last_header .user_profile .icon
{
    padding: 10px 10px;
    background: #fff;
    border-radius: 60%;
    height: 30px;
}
.header .last_header .user_profile .info
{
    margin-left: 10px;
}
.header .last_header .user_profile .info h2
{
    color: #151515;
    font-size: 18px;
}
.header .last_header .user_profile .info p
{
    color: #151515;
    font-size: 14px;
    padding-top: 10px;
}


/* header nav a.active {
    background-color: #555;
      margin: auto;
  }

  header nav a:hover {
    background-color: #777;
    margin: auto;
} */
/* ... befintliga stilar ... */

/* Media query för mindre skärmar */
@media (max-width: 768px) {
    .header .mid_header .user{
        margin-right: 10px;
    }
    .header .last_header .user_profile {
        margin-right: 10px;
    }
    .header .last_header .user_profile .info p {
        display: none; /* Gömmer paragraferna i user_profile på mindre skärmar */
    }
    .header .last_header .user_profile .info h2 {
        margin-top: 5px;
    }
    .header .last_header .user_profile .icon {
    font-size: 15px;
    }

    /* Lägg till ytterligare stiländringar för mindre skärmar här om nödvändigt */
}
